*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(./bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;

}
.container{
    width: 100%;
    max-width: 400px;
    padding: 30px 20px;
    background: rgba(10, 10, 10, .45);
    border: 2px inset rgb(46, 46, 192);
     border-radius: 16px;
}
.container h1{
    text-align: center;
    font-size: 2.3rem;
    color: #fff;
}
.container form{
    padding: 0 50px;
}
form .main{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid rgb(46, 46, 192);
}
.main input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
    color: #e7e6e6;
}
.main label{
    position: absolute;
    top: 50%;
    left: 6px;
    color: rgba(97, 97, 240, 0.995);
    font-size: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all .4s ease;
}
.main span::before{
    position: absolute;
    content: '';
    left: 0;
    top: 35px;
    width: 100%;
    height: 2px;
}
.main input:focus ~ label,.main input:valid ~ label{
    top: -3px;
    color: #fff;
}
.pass{
    margin: -6px 0 20px 5px;
    color: #fff;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
input[type="submit"]{
    height: 45px;
    width: 100%;
    border: none;
    background-color: rgb(75, 75, 226);
    color: white;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    transition: all .3s ease;

}
input[type="submit"]:hover{
    background-color: rgb(98, 98, 255);
}
.signup{
    color: rgb(75, 75, 226);
    font-size: 1rem;
    margin: 25px 0;
    text-align: center;
}
.signup a{
    margin-left: 10px;
    text-decoration: none;

}
.signup a:hover{
    text-decoration: underline;
}
@media (max-width: 525px){
    body{
        padding: 0 2%;
    }
    .container{
        padding: 10px 5px;
    }
}